@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
}

<h1>Manage your account</h1>

<div class="mb-3">
    <a asp-controller="Farmer" asp-action="Dashboard" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left-circle"></i> Back to Dashboard
    </a>
</div>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)
